<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'Styles/Styles.css') }}">
</head>

<body>
    {% for c in SQLData %}
    <div class="InfoBox">

        <img src='data:image/jpeg;base64,{{ Images[x] }}' alt="Image" class="GameImage">

        {% set x = x + 1 %}
        

        <div class="TextDiv">
            <h1>{{ c[1] }}</h1>

            <p>{{ c[2] }}</p>

            <h1 style="font-size: 75px;"><b>{{ c[3] }}</b></h1>
        </div>


    </div>
    {% endfor %}

</body>

</html>