<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'Styles/Styles.css') }}">
</head>

<body>
    <div class="Header">

        <form action="/" method="POST">
            <input type="submit" value="upload" name="submit" />
        </form>
        {% if LoggedIn %}
            <h1 class="Username">{{ AccountName }}</p>
        {% endif %}
        <form action="/" method="POST">
            <input type="submit" value="login" name="submit" />
        </form>
    </div>

    {% for c in SQLData %}
    <div class="InfoBox">

        <img src='data:image/jpeg;base64,{{ Images[loop.index - 1] }}' alt="Image" class="GameImage">




        <div class="TextDiv">
            <h1>{{ c[1] }}</h1>

            <p>{{ c[2] }}</p>

            <h1 style="font-size: 75px;"><b>{{ c[3] }}</b></h1>

            <form action="/" method="POST" style="display: flex;">
                <input type="submit" value="{{  c[0]  }}" name="Like" width="100%" height="100%" class="Like">
            </form>

            <p class="LikeText">{{c[5]}}</p>

        </div>


    </div>
    {% endfor %}

</body>

</html>